# silly macs
.DS_Store

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Translations
*.mo

browser_driver/*.class

# Mobile Tools for Java (J2ME)
browser_driver/.mtj.tmp/

# Package Files #
browser_driver/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
browser_driver/hs_err_pid*